code[class*='language-'],
pre[class*='language-'] {
  color: #2e3440; /* nord0 */
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: #d8dee9;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #e5e9f0; /* nord6 */
}

.token.url,
.token.constant,
.token.number,
.token.symbol,
.token.regex-source,
.token.boolean,
.token.tag {
  color: #2e3440; /* nord0 */
}

.token.comment {
  color: #626975;
}

.token.selector,
.token.important,
.token.function,
.token.keyword,
.token.attr-name {
  color: #097579;
}

.token.prolog,
.token.property,
.token.builtin,
.token.doctype {
  color: #0c60a5;
}

.token.deleted {
  color: #b31d28;
}

.token.cdata,
.token.operator,
.token.atrule {
  color: #cb2706; /* nord12 */
}

.token.char,
.token.entity {
  color: #ebcb8b; /* nord13 */
}

.token.string,
.token.namespace,
.token.class-name,
.token.attr-value,
.token.inserted {
  color: #217900;
}

.token.punctuation {
  color: #c92544;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.15rem 0.3rem;
  border-radius: 0.3em;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
